<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../styles/home.css">
    <script src="https://kit.fontawesome.com/5c174d451e.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="nav">
        <ul>
            <a href="home">Home</a>
            <a href="article">Write Article</a>
            <a href="myarticles">My Articles</a>
            <a href="allarticles" >All Articles</a>
            <a href="login">Login</a>
            <a href="logout">Logout</a>
        </ul>
    </nav>

    <div class="showcase container">
        <h1>Pen down your thoughts</h1>
        <h3>Here you can write your articles</h3>
        <h3>Click below to write your first article</h3>
        <a href="article" class="btn">Click here</a>   
    </div>

    <footer class="footer">
        <div class="footer-cols">
            <ul>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Investor Relations</a></li>
                <li><a href="#">Ways To Watch</a></li>
                <li><a href="#">Corporate Information</a></li>
                <li><a href="#">Netflix Originals</a></li>
            </ul>
            <ul>
                <li><a href="#">Help Center</a></li>
                <li><a href="#">Jobs</a></li>
                <li><a href="#">Terms Of Use</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a class="main" href="#">BY</a></li>
            </ul>
            <ul>
                <li><a href="#">Account</a></li>
                <li><a href="#">Redeem Gift Cards</a></li>
                <li><a href="#">Privacy</a></li>
                <li ><a href="#">Speed Test</a></li>
                <li><a class="main" href="#">SHUBHAM</a></li>
            </ul>
            <ul>
                <li><a href="#">Media Center</a></li>
                <li><a href="#">Buy Gift Cards</a></li>
                <li><a href="#">Cookie Preferences</a></li>
                <li><a href="#">Legal Notices</a></li>
                <li><a class="main" href="#">SURVE</a></li>
            </ul>
        </div>
</footer>
</body>
</html>