*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}

.nav{
    background-color: #f2f2f2f2;
    height: 80px;
}

nav ul{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-gap:40px;
    align-items: center;
    justify-content: end;
    margin:0px 20px 0px 0px;
    padding-top:35px ;

}
.nav a{
    text-decoration: none;
    list-style-type: none;
    color:black;
}

.nav a:hover{
    color:orange;
}

.container{
    max-width: 70%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: auto;
    grid-gap:20px;
}

.container div{
    background-color: rgba(50, 115, 220, 0.3);
    color:black;
    height: 370px;
}
.container div textarea{
    padding:10px;
    margin: 20px 10px;
    font-size: 15px;
}

.container div h2{
    text-align: center;
    padding:10px 0px;
    font-size: 25px;
}

.container div h3{
    padding:5px 10px;
    font-size: 20px;
}

.container div i{
    padding:0px 10px;
    font-size: 25px;
}

.container div p{
    padding-bottom: 10px;
}
.container div a{
    margin-top: 100px;
    padding:8px 15px;
    background-color:teal;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    color:whitesmoke;
    text-decoration: none;
    margin-left: 750px;
}
